.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-icon {
  font-size: 4rem;
  color: #007BFF;
}

@media (max-width: 768px) {
  .user-icon {
    font-size: 3rem;
  }
}

@media (max-width: 576px) {
  .user-icon {
    font-size: 2rem;
  }
}

.mat-form-field-appearance-fill .mat-form-field-label {
  transform: translateY(-28px);
  transition: transform 200ms, color 200ms;
}

.mat-form-field-appearance-fill.mat-focused .mat-form-field-label {
  transform: translateY(-34px) scale(0.75);
  color: #3f51b5;
}

.mat-form-field-infix {
  padding-top: 1.4em;
}



