.footer-toolbar {
  background-color: #3f51b5;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  z-index: 1000;
  margin-top: 20px;
}

.footer-content {
  text-align: center;
}

.app-title {
  font-size: 0.7rem;
  font-weight: bold;
}

@media (max-width: 768px) {
  .app-title {
    font-size: 0.5rem;
  }
}

@media (max-width: 480px) {
  .app-title {
    font-size: 0.4rem; /* Réduire davantage pour les mobiles */
  }
}
